<ul>
  <li><%= letter.date_sent_string %></li>
  <li><%= letter.date_received_string %></li>
  <li>Sent to <%= letter.recipient.name %> on <%= letter.recipient.address %></li>
  <li>Notes: <%= letter.notes %></li>
</ul>
